<!-- your html code here -->
<div class="row mt-5 mb-5">
    <div class="col-lg-6 offset-2 mt-5 col-md-12">
        <h2 class="text-start">The first Heading Will Catch Your Eye</h2>
        <p class="text-start fs-5">Donec ullamcorper nulla non metus auctor fringila. Vestibulum id ligula porta felis eusimod semper. Praesent commmodo cursus magana, vel scelerisque nisl cosecutetur. Fucse dapibus, tellus ac cursus commodo</p>
    </div>
    <div class="col-lg-4  mt-4 col-md-12 mt-4">
        <image class="rounded-circle d-flex justify-content-center" src="assets/img/1.jpg" width="350" height="380"></image>
    </div>
</div>